.ds-multi-inputs__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ds-multi-inputs__items_item {
    display: flex;
    flex-direction: row;
}

.ds-multi-inputs__items_item__input {
    margin-right: 10px;
}

.ds-multi-inputs__items_item__actions > button:first-child {
    margin-right: 5px;
}